
<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>Contact Us Form |</title>
    <link rel="stylesheet" href="{% static 'css/feedback.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
        <!-- google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="container">
      <div class="content">
        <div class="left-side">
          <div class="address details">
            <i class="fas fa-map-marker-alt"></i>
            <div class="topic">Address</div>
            <div class="text-one">mumbai</div>
            <div class="text-two">india</div>
          </div>
          <div class="phone details">
            <i class="fas fa-phone-alt"></i>
            <div class="topic">Phone</div>
            <div class="text-one">+1234567890</div>
          </div>
          <div class="email details">
            <i class="fas fa-envelope"></i>
            <div class="topic">Email</div>
            <div class="text-one">CarPool@gmail.com</div>
          </div>
        </div>
        <div class="right-side">
          <div class="topic-text">Send us a message</div>
          <p>If you have any queries, you can send me message from here.</p>
          <form method="post" action="/feedback">
            {% csrf_token %}
            <div class="input-box">
              <input type="text" name="name" placeholder="Enter your name" />
            </div>
            <div class="input-box">
              <input type="text" name="email" placeholder="Enter your email" />
            </div>
            <div class="input-box message-box">
              <textarea name="message" placeholder="Enter your message"></textarea>
            </div>
            <div class="button">
              <input type="submit" class="back-button" value="Send Now" />
            </div>
            <div class="button">
              <a href="/home" class="back-button">Back</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>