<!DOCTYPE html>
{% load static %}
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <title>Registaration Form</title>
        <link rel="stylesheet" href="{% static 'css/Registration.css' %}">
        
        <!-- google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    </head>
       
    <body>
        <div class="container-fluid main-cont">
            <nav class="navbar navbar-expand-lg">
                <h1 class="navbar-brand">Available Carpools</h1>
                <div class="ms-auto">
                    <a class="btn my-2 my-sm-0" href="/user_profile">Profile</a>
                    <a class="btn my-2 my-sm-0" href="/home">Back</a>
                </div>
              </nav>
              <hr>
              {% if check %}
                    {% for x in searchResults %}
                        <div class="row">
                            <div class="col-12 carpools">
                                <img class="carpoolOptionImg" src="/static/images/fullcarpoolimg.png" alt="carpool">
                                <p class="carpoolPos" >{{ x.start }}</p>
                                <p class="carpoolPos" >➡️</p>
                                <p class="carpoolPos" >{{ x.to }}</p>
                                <p class="carpoolPos addInfo" >Fare: {{ x.price }} Rs</p>
                                <form action="/search/{{ x.id }}" method="post">
                                    {% csrf_token %}
                                    <button type="submit"  class="btn btn-primary profileBtn my-2 my-sm-6 carpoolbtn">Open</button>
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                <div class="noResultsDiv">
                    <h3>No Carpools Available</h3>
                </div>
                {% endif %}
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
        
    </body>
</html>